{
    "arrowParens": "avoid",
    "trailingComma": "es5",
    "semi": true,
    "tabWidth": 4,
    "printWidth": 160,
    "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true
}
